$primary-color: #2e2b2b;
$second-color: #3d3d3c;
$third-color: #e9e9e9;
$link-color: #3C9DD0;

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  transition: background 0.5s;
  transition: all 0.6s;
  background-color: #fff;
  overflow-x: hidden;
  font-family: 'Noto Sans', sans-serif, -apple-system, BlinkMacSystemFont;
  color: $primary-color
}

body.dark {
  background-color: black;
  color: #fff;
}

%all-headings {
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  @extend %all-headings;
}

h3 {
  font-size: 1.5rem;
  margin: 1% 0;
  @extend %all-headings;
}

h4 {
  font-size: 1.4rem;
  margin: 3% 0;
  @extend %all-headings;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: $link-color;
    cursor: pointer;
    font-weight: 600;
  }
}

body.dark a {
  color: #fff;

  &:hover {
    color: $link-color;
  }
}

.highlighted {
  font-weight: 600;
}

address {
  font-style: normal;
}

header {
  position: fixed;
  width: 100%;
  padding: 2% 10%;
  z-index: 999;
  border-bottom: 0.1rem solid #909090ad;
  box-shadow: 0 0 1rem 0.1rem rgb(146, 138, 138);
  background-color: rgba(255, 255, 255, 0.9);
  color: $primary-color;
  display: flex;
  justify-content: space-between;
}

body.dark header {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.menu-primary {
  list-style: none;
  display: flex;
  margin-right: 10rem;
}

.menu-primary li a.active {
  color: $link-color;
}

.menu-primary li {
  margin-left: 10%;
}

.menu-primary a {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  transition: 0.5s;
  position: relative;
}

.menu-primary li a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.1rem;
  background: $link-color;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

header.dark .menu-primary li a:after {
  background: #fff;
}

.menu-primary li a:hover:after {
  width: 100%;
}

.menu-primary li .active:after {
  width: 100%;
}

.mode-icon {
  color: #fff;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    transform: scale(1.15);
  }
}

.fa-sun {
  color: $primary-color
}

.fa-moon {
  color: #fff;
}

.menu-icon {
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    transform: scale(1.15);
  }

  .fa-window-close,
  .fa-align-justify {
    color: $primary-color;
  }
}

body.dark .menu-icon {

  .fa-window-close,
  .fa-align-justify {
    color: #fff;
  }
}

.menu-primary.show-mobile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 105%;
  right: 1%;
  width: 40%;
  height: auto;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 1rem 0.1rem rgb(146, 138, 138);
  z-index: 1000;
  padding: 1% 5%;
}

body.dark .menu-primary.show-mobile-menu {
  background-color: black;
}

.menu-primary.show-mobile-menu li {
  text-align: left;
  margin: 0.5rem 0;
}

.menu-primary.show-mobile-menu a {
  font-size: 1rem;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: $primary-color;
  background-color: $third-color;
}

body.dark .hero-section {
  background-color: $primary-color;
  color: #fff;
}

.hero-title {
  display: flex;
  align-items: center;
  margin: 5% 0;

  h1 {
    font-size: 1.6rem;
    font-weight: 700;
    color: $primary-color;
    margin-left: 3%;
  }

  a {
    display: flex;
    align-items: center;
    color: $link-color;
    flex-grow: 1;
  }
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text h1 {
  font-size: 4rem;
  margin-bottom: 5%;
}

.hero-text p {
  font-size: 1.5rem;
}

.contact-btn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 2.5% 5%;
  color: #fff;
  background-color: $link-color;
  text-align: center;
  margin-top: 10%;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 0.1rem rgb(146, 138, 138);
  font-size: 130%;

  &:hover {
    background-color: $second-color;
    cursor: pointer;
  }
}

body.dark .contact-btn {
  background-color: #fff;
  color: $primary-color;

  &:hover {
    background-color: $link-color;
  }
}

section {
  height: auto;
  padding: 10%;
}

details {
  cursor: pointer;
  margin-bottom: 2%;
  border-radius: 0.5rem;
  border: 0.15rem solid $third-color;
  padding: 0 2%;
  transition: 300ms;

  a {
    color: $link-color;
  }
}

body.dark details {
  a {
    color: $link-color;
  }
}

details[open] {
  margin-bottom: 5%;
  padding-bottom: 2%;
}

summary::before,
summary::after {
  transition: 500ms;
}

summary {
  padding: 2% 0;
  font-weight: 800;
}

#about {
  display: flex;
}

#skills {
  background-color: #e9e9e9;
}

body.dark #skills {
  background-color: #2e2b2b;
}

.section-content {
  padding-right: 10%;
}

.section-image img {
  max-width: 32rem;
  border-radius: 0.5rem;
  opacity: 0.8;
  margin-top: 10%;

  &:hover {
    transform: scale(1.1);
  }
}

.section-title {
  margin-bottom: 5%;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  -moz-column-gap: 2%;
  column-gap: 2%;
  margin-top: 3%;
}

.card {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  position: relative;
  min-height: 15rem;
  max-height: 250rem;
  width: 100%;
  display: grid;
  margin-bottom: 4%;
  border-radius: 0.8rem;
}

.card-head {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: #fff;
  color: $primary-color;
  font-size: 130%;
  font-weight: 700;
  height: auto;
  overflow: hidden;
  border-radius: 0.8rem;
  padding: 10%;

  h3 {
    font-size: 2rem;
  }

  .card-icon {
    position: absolute;
    top: 7%;
    left: 5%;
    height: 2.5rem;
    width: 2.5rem;
    fill: none;
  }
}

body.dark .card-head {
  background-color: $second-color;
  color: #fff;
}

.card-tail {
  display: grid;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $link-color;
  color: #fff;
  opacity: 0;
  overflow: hidden;
  top: 0;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.15s;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-translate-y: 2.25rem;
  border-radius: 0.8rem;

  &:hover {
    opacity: 1;
  }
}

.card-tail ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 5% 10%;
  font-size: 110%;
}

.card-tail li {
  padding: 1%;
  margin: 1% 1% 0 0;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 1rem 1rem 2rem #888;
  z-index: 1000;
}

.popup img {
  max-width: 200rem;
}

#closePopupBtn {
  position: absolute;
  top: 0.2rem;
  right: 0.18rem;
  background-color: #fff;
  color: #9c9999;
  border: none;
  padding: 0.1rem 0.3rem;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 700;
}

#closePopupBtn:hover {
  background-color: #ddd;
  border-radius: 50%;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $primary-color;
  z-index: 999;
}

// Slick Carousel 

#slick {
  margin-top: 3%;

  .slick-cards {
    background-color: $third-color;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    border-radius: 0.8rem;
    margin-right: 1%;

    &:hover {
      cursor: pointer;
      background-color: $link-color;

      h3,
      p {
        color: #fff;
      }
    }

    a {
      text-decoration: none;
    }

    h3,
    p {
      text-align: center;
      color: $primary-color;
    }

    h3 {
      font-size: 2rem;
      margin-bottom: 5%;
    }

    p {
      font-size: 1rem;
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slick-dots li {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 2% 1%;
  }

  .slick-dots li button {
    font-size: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    background-color: transparent;
    opacity: 0.6;
    border: 0;
    outline: none;
    color: $primary-color
  }

  .slick-dots li button:before {
    content: '•';
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;

  }

  .slick-dots li.slick-active button:before {
    color: $link-color;
  }
}

body.dark #slick {

  .slick-dots li button {
    color: #fff;
  }
}

footer {
  display: flex;
  justify-content: center;
  padding: 5%;
  margin-top: 5%;
  background-color: $third-color;
}

body.dark footer {
  background-color: $primary-color;
}

address a {
  display: flex;
  align-items: center;
  font-size: 1rem;

  span {
    margin-left: 3.5%;
  }
}

@media screen and (max-width: 1024px) {

  .popup img {
    max-width: 55rem;
  }

}

@media screen and (max-width: 768px) {

  .menu-primary {
    display: none;
    margin-right: 0;
  }

  .menu-toggle {
    display: block;
  }

  .contact-btn {
    font-size: 140%;
    padding: 7% 10%;
    border-radius: 2rem;
    margin-bottom: 15%;
  }

  #about {
    flex-direction: column;
  }

  .section-image img {
    max-width: 100%;
    margin-top: 5%;
  }

  .section-content {
    padding-right: 0;
  }

  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10%;
  }

  .card-tail ul {
    font-size: 100%;
  }

  .card-head h3 {
    font-size: 1.3rem;
  }

  .popup img {
    max-width: 40rem;
  }

  .hero-title h1 {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 425px) {

  header {
    padding: 5% 10%;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .card-head {
    h3 {
      font-size: 1rem;
    }

    .card-icon-mobile {
      position: absolute;
      top: 80%;
      left: 41%;
      height: 2.3rem;
      width: 2.3rem;
      fill: none;
      stroke: $link-color;
    }

    .card-icon {
      display: none;
    }
  }

  .card-tail ul {
    font-size: 90%;
  }

  section {
    padding: 30% 10% 20% 10%;
  }

  .popup img {
    max-width: 25rem;
  }

  #slick {
    margin-top: 10%;
  }
}