$primary-color: #2e2b2b;
$second-color: #3d3d3c;
$third-color: #e9e9e9;
$link-color: #3C9DD0;

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  transition: background 0.5s;
  transition: all 0.6s;
  background-color: #fff;
  overflow-x: hidden;
  font-family: 'Noto Sans', sans-serif, -apple-system, BlinkMacSystemFont;
  color: $primary-color
}

body.dark {
  background-color: black;
  color: #fff;
}

%all-headings {
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  @extend %all-headings;
}

h3 {
  font-size: 1.5rem;
  margin: 1% 0;
  @extend %all-headings;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: $link-color;
    cursor: pointer;
  }
}

body.dark a {
  color: #fff;

  &:hover {
    color: $link-color;
  }
}

.highlighted {
  font-weight: 600;
}

address {
  font-style: normal;
}

header {
  position: fixed;
  width: 100%;
  padding: 2% 5%;
  z-index: 999;
  border-bottom: 0.1rem solid #909090ad;
  box-shadow: 0 0 1rem 0.1rem rgb(146, 138, 138);
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

body.dark header {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

.menu-primary {
  list-style: none;
  display: flex;
}

.menu-primary li a.active {
  color: $link-color;
}

.menu-primary li {
  margin: 0 1rem;
}

.menu-primary a {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.05rem;
  transition: 0.5s;
  position: relative;
}

.menu-primary li a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.1rem;
  background: $link-color;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

header.dark .menu-primary li a:after {
  background: #fff;
}

.menu-primary li a:hover:after {
  width: 100%;
}

.menu-primary li .active:after {
  width: 100%;
}

.mode-icon {
  color: #fff;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    transform: scale(1.15);
  }
}

.fa-sun {
  color: $primary-color
}

.fa-moon {
  color: #fff;
}

.hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: $primary-color;
}

body.dark .hero-section {
  color: #fff;
  background-color: black;
}

.hero-title {
  display: flex;
  align-items: center;
  margin: 5% 0;

  h1 {
    font-size: 1.6rem;
    font-weight: 700;
    color: $primary-color;
    margin-left: 3%;
  }

  a {
    display: flex;
    align-items: center;
    color: $link-color;
    flex-grow: 1;
  }
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text h1 {
  font-size: 4rem;
  margin-bottom: 5%;
}

.hero-text p {
  font-size: 1.5rem;
}

.contact-btn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 2.5% 5%;
  color: #fff;
  background-color: $primary-color;
  text-align: center;
  margin-top: 4%;
  border-radius: 0.5rem;
}

.contact-btn:hover {
  background-color: $link-color;
  cursor: pointer;
}

section {
  padding: 10%;
}

#skills {
  display: flex;
  background-color: $third-color;
}

body.dark #skills {
  background-color: $primary-color;
}

.section-content {
  padding-right: 10%;
}

.section-image img {
  max-width: 27rem;
  border-radius: 0.5rem;
  opacity: 0.8;
  margin-top: 10%;
}

.section-title {
  margin-bottom: 3%;
}

.skills-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;

  li {
    margin-right: 1rem;

    &:hover {
      color: $second-color;
      transform: scale(1.05);
      font-weight: 600;
    }

    &:last-child::after {
      content: none;
    }

    a:hover {
      transform: none;
    }
  }
}

body.dark .skills-list {
  li:hover {
    color: $link-color;
  }
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 1rem 1rem 2rem #888;
  z-index: 1000;
}

.popup img {
  max-width: 200rem;
}

#closePopupBtn {
  position: absolute;
  top: 0.2rem;
  right: 0.18rem;
  background-color: #fff;
  color: #9c9999;
  border: none;
  padding: 0.1rem 0.3rem;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 700;
}

#closePopupBtn:hover {
  background-color: #ddd;
  border-radius: 50%;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $primary-color;
  z-index: 999;
}

// Slick Carousel 

#slick {
  margin-top: 3%;

  .slick-cards {
    background-color: $third-color;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
      background-color: $link-color;

      h3,
      p {
        color: #fff;
      }
    }

    a {
      text-decoration: none;
    }

    h3,
    p {
      text-align: center;
      margin: 0;
      color: $primary-color;
    }

    h3 {
      font-size: 2rem;
      margin-bottom: 5%;
    }

    p {
      font-size: 1rem;
    }
  }

  .slick-prev,
  .slick-next {
    content: "▶";
    margin: 0 1%;
    color: white;
    font-size: 1rem;
    z-index: 500;
    position: absolute;
    bottom: 50%;

    &:hover {
      transform: scale(1.5);
      font-weight: 700;
      cursor: pointer;
      color: $second-color;
    }

    &.slick-prev {
      left: 0;
    }

    &.slick-next {
      right: 0;
    }
  }
}

.footer {
  text-align: center;
  margin: 5% 0;
}

address {
  font-size: 1rem;
}

@media screen and (max-width: 1024px) {

  .popup img {
    max-width: 55rem;
  }

}

@media screen and (max-width: 768px) {

  .popup img {
    max-width: 40rem;
  }

  #slick {
    .slick-cards {
      height: 15rem;
    }

    .slick-prev,
    .slick-next {
      font-size: 2rem;
    }
  }

  .hero-title h1 {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 425px) {

  * {
    font-size: 90%;
  }

  .menu-primary {
    display: block;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  #skills {
    display: block;
  }

  .section-image img {
    width: 100%;
  }

  .popup img {
    max-width: 25rem;
  }

  #slick {
    margin-top: 10%;
  }
}