@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  background-color: #fff;
  overflow-x: hidden;
  font-family: 'Noto Sans', sans-serif, -apple-system, BlinkMacSystemFont;
  color: #2e2b2b;
}

body.dark {
  background-color: black;
  color: #fff;
}

h2, h3, h4 {
  font-weight: 600;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  margin: 1% 0;
}

h4 {
  font-size: 1.4rem;
  margin: 3% 0;
}

a {
  color: #2e2b2b;
  text-decoration: none;
}

a:hover {
  color: #3C9DD0;
  cursor: pointer;
}

body.dark a {
  color: #fff;
}

body.dark a:hover {
  color: #3C9DD0;
}

.highlighted {
  font-weight: 600;
}

address {
  font-style: normal;
}

header {
  position: fixed;
  width: 100%;
  padding: 2% 5%;
  z-index: 999;
  border-bottom: 0.1rem solid #909090ad;
  -webkit-box-shadow: 0 0 1rem 0.1rem #928a8a;
          box-shadow: 0 0 1rem 0.1rem #928a8a;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

body.dark header {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-primary {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-primary li a.active {
  color: #3C9DD0;
}

.menu-primary li {
  margin: 0 1rem;
}

.menu-primary a {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.05rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}

.menu-primary li a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.1rem;
  background: #3C9DD0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header.dark .menu-primary li a:after {
  background: #fff;
}

.menu-primary li a:hover:after {
  width: 100%;
}

.menu-primary li .active:after {
  width: 100%;
}

.mode-icon {
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.mode-icon:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.fa-sun {
  color: #2e2b2b;
}

.fa-moon {
  color: #fff;
}

.hero-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  color: #2e2b2b;
  background-color: #e9e9e9;
}

body.dark .hero-section {
  background-color: #2e2b2b;
  color: #fff;
}

.hero-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5% 0;
}

.hero-title h1 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #2e2b2b;
  margin-left: 3%;
}

.hero-title a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3C9DD0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero-text h1 {
  font-size: 4rem;
  margin-bottom: 5%;
}

.hero-text p {
  font-size: 1.5rem;
}

.contact-btn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 2.5% 5%;
  color: #fff;
  background-color: #3C9DD0;
  text-align: center;
  margin-top: 4%;
  border-radius: 0.5rem;
}

.contact-btn:hover {
  background-color: #3d3d3c;
  cursor: pointer;
}

section {
  height: 100vh;
  padding: 10%;
}

details {
  cursor: pointer;
  margin-bottom: 2%;
}

details a {
  color: #3C9DD0;
}

details a:hover {
  font-weight: 800;
}

details[open] {
  margin-bottom: 5%;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#skills,
footer {
  background-color: #e9e9e9;
}

body.dark #skills {
  background-color: #2e2b2b;
}

.section-content {
  padding-right: 10%;
}

.section-image img {
  max-width: 27rem;
  border-radius: 0.5rem;
  opacity: 0.8;
  margin-top: 10%;
}

.section-image img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section-title {
  margin-bottom: 5%;
}

.cards-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1%;
}

.card {
  -webkit-box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  position: relative;
  min-height: 15rem;
  max-height: 250rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  margin-bottom: 1%;
  border-radius: 0.8rem;
}

.card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: #fff;
  color: #2e2b2b;
  font-size: 130%;
  font-weight: 700;
  height: auto;
  overflow: hidden;
  border-radius: 0.8rem;
  padding: 10%;
}

.card-head h3 {
  font-size: 2rem;
}

.card-head .card-icon {
  position: absolute;
  top: 75%;
  left: 45%;
  height: 2.5rem;
  width: 1.5rem;
  fill: #2e2b2b;
}

body.dark .card-head {
  background-color: #3d3d3c;
  color: #fff;
}

body.dark .card-head .card-arrow-icon {
  fill: #fff;
}

.card-tail {
  display: -ms-grid;
  display: grid;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
  color: black;
  opacity: 0;
  overflow: hidden;
  top: 0;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-translate-y: 2.25rem;
  border-radius: 0.8rem;
}

.card-tail:hover {
  opacity: 1;
}

body.dark .card-tail {
  background-color: #3d3d3c;
  color: #fff;
}

.card-tail ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  margin: 5%;
}

.card-tail li {
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  padding: 1%;
  margin-bottom: 1%;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2rem;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 1rem 1rem 2rem #888;
          box-shadow: 1rem 1rem 2rem #888;
  z-index: 1000;
}

.popup img {
  max-width: 200rem;
}

#closePopupBtn {
  position: absolute;
  top: 0.2rem;
  right: 0.18rem;
  background-color: #fff;
  color: #9c9999;
  border: none;
  padding: 0.1rem 0.3rem;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 700;
}

#closePopupBtn:hover {
  background-color: #ddd;
  border-radius: 50%;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2e2b2b;
  z-index: 999;
}

#slick {
  margin-top: 3%;
}

#slick .slick-cards {
  background-color: #e9e9e9;
  height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  border-radius: 0.8rem;
  margin: 1%;
}

#slick .slick-cards:hover {
  cursor: pointer;
  background-color: #3C9DD0;
}

#slick .slick-cards:hover h3,
#slick .slick-cards:hover p {
  color: #fff;
}

#slick .slick-cards a {
  text-decoration: none;
}

#slick .slick-cards h3,
#slick .slick-cards p {
  text-align: center;
  margin: 0;
  color: #2e2b2b;
}

#slick .slick-cards h3 {
  font-size: 2rem;
  margin-bottom: 5%;
}

#slick .slick-cards p {
  font-size: 1rem;
}

#slick .slick-prev,
#slick .slick-next {
  content: "▶";
  margin: 0 1%;
  color: white;
  font-size: 2rem;
  z-index: 500;
  position: absolute;
  bottom: 50%;
}

#slick .slick-prev:hover,
#slick .slick-next:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  font-weight: 600;
  cursor: pointer;
  color: #3d3d3c;
}

#slick .slick-prev.slick-prev,
#slick .slick-next.slick-prev {
  left: 0;
}

#slick .slick-prev.slick-next,
#slick .slick-next.slick-next {
  right: 0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5%;
  margin-top: 5%;
}

address a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

address a span {
  margin-left: 3.5%;
}

@media screen and (max-width: 1024px) {
  .popup img {
    max-width: 55rem;
  }
}

@media screen and (max-width: 768px) {
  .cards-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .card {
    min-height: 15rem;
    max-height: 30rem;
  }
  .card-head h3 {
    font-size: 1.5rem;
  }
  .card-tail ul {
    margin: 3%;
  }
  .popup img {
    max-width: 40rem;
  }
  #slick .slick-cards {
    height: 15rem;
  }
  #slick .slick-prev,
  #slick .slick-next {
    font-size: 2rem;
  }
  .hero-title h1 {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 425px) {
  * {
    font-size: 90%;
  }
  .menu-primary {
    display: block;
  }
  .hero-text h1 {
    font-size: 2rem;
  }
  .cards-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .card {
    min-height: 2rem;
    max-height: 5rem;
  }
  .card-head h3 {
    font-size: 1.1rem;
  }
  .card-head .card-icon {
    position: absolute;
    top: 30%;
    left: 90%;
    height: 2rem;
    width: 1rem;
  }
  section {
    padding: 30% 10% 20% 10%;
  }
  #about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-image img {
    width: 100%;
  }
  .popup img {
    max-width: 25rem;
  }
  #slick {
    margin-top: 10%;
  }
}
/*# sourceMappingURL=styles.css.map */