$primary-color: #2e2b2b;
$second-color: #3d3d3c;
$link-color: #3C9DD0;

%zero-space {
  padding: 0;
  margin: 0;
}


html {
  font-size: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans', sans-serif;
  color: $primary-color;
  line-height: 1.5rem;
  text-align: left;
  @extend %zero-space;
}

@mixin box-shadow($value) {
  box-shadow: $value;
}

p {
  line-height: 1.65em;
  color: $primary-color;
  @extend %zero-space;
}

address {
  size: 16px;
  font-style: normal;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: $link-color;
    cursor: pointer;
  }
}

#highlighted {
  font-weight: 600;
}

// Layout 
.container {
  width: 60%;
  margin: 0 auto;
}

section {
  margin-top: 5%;  
}

// Headings

%all-headings {
  margin: 0;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  @extend %all-headings;
}

.section-title {
  margin-bottom: 2%;
}

// Hero

.hero-title {
  display: flex;
  align-items: center;
  margin: 5% 0;

  h1 {
    font-size: 1.6rem;
    font-weight: 700;
    color: $primary-color;
    margin-left: 3%;
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $link-color;
    flex-grow: 1;

    .logo {
      height: 3rem; 
      border-radius: 50%;
      @include box-shadow(0.1rem 0.1rem 0.5rem #888);

      &:hover{
        transform: scale(1.05);
      }
    }
  }
}

.skills-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;

  li {
    margin-right: 1rem;

    &:hover {
      color: $second-color;
      transform: scale(1.05);
      font-weight: 600;
    }

    &:last-child::after {
      content: none;
    }
    a:hover {
        transform: none;
    }
  }
}

//  Popup

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background-color: #fff;
  border: 1px solid #ccc;
  @include box-shadow(1rem 1rem 2rem #888);
  z-index: 1000;
}

  #closePopupBtn {
    position: absolute;
    top: 0.2rem;
    right: 0.18rem;
    background-color: #fff;
    color: #9c9999;
    border: none;
    padding: 0.1rem 0.3rem;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 700;
  }

  #closePopupBtn:hover {
    background-color: #ddd;
    border-radius: 50%;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $primary-color; 
    z-index: 999; 
  }


// Slick Carousel 

#slick {
  margin-top: 2%;
  .slick-cards {
    background-color: $primary-color;
    height: 18rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
      background-color: #505050;
    }

    a {
      text-decoration: none;
    }

    h3,
    p {
      text-align: center;
      margin: 0;
      color: white;
      font-size: 1rem;
      line-height: 2.2rem;
    }

    h3 {
      font-size: 1.4rem;
    }

    p {
      font-size: 1rem;
    }
  }

  .slick-prev,
  .slick-next {
    content: "▶";
    margin: 0 1%;
    color: white;
    font-size: 1rem;
    z-index: 500;
    position: absolute;
    bottom: 50%;

    &:hover {
      transform: scale(1.5);
      font-weight: 700;
      cursor: pointer;
    }

    &.slick-prev {
      left: 0;
    }

    &.slick-next {
      right: 0;
    }
  }
}

// Footer 
.footer {
  text-align: center;
  margin: 5% 0;
  
  a {    
    text-decoration: none;
  }
}

address {
  font-size: 1rem;
}

@media screen and (max-width: 1024px) {

  .popup img {
    max-width: 55rem;
  }

}
@media screen and (max-width: 768px) {

  html {
    font-size: 90%; 
  }

  .container {
    width: 80%;
  };

  .popup img {
    max-width: 40rem;
  }

  #slick {
    .slick-cards {
      height: 10rem;
    }
    .slick-prev,
    .slick-next {
    font-size: 2rem;
    }
  }

  .hero-title h1 { 
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 425px) {

  .container {
    width: 95%;
  };

  .popup img {
    max-width: 25rem;
  }

}