body {
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    font-size: 16px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

div, p, input, button, form, span, a, ul, li {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    font-weight: 900;
}

p {
    line-height: 1.65em;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.header{
    background: rgba(102,204,255,1);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(102,204,255,1)), color-stop(100%, rgba(51,153,204,1)));
    background: linear-gradient(to right, rgba(102,204,255,1) 0%, rgba(51,153,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ccff', endColorstr='#3399cc', GradientType=1 );
    padding-top: 60px;
    padding-bottom: 75px;
    color: #fff;
}

.wrapper {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.title {
	font-size: 37x;
}

span {
    font-size: 59px;
}

.intro {
    margin-top: 20px;
    margin-bottom: 45px;
    max-width: 400px;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    background: #ffcc33;
    border-radius: 0;
    width: 222px;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    display: block;
    transition: all 0.5s ease;
}

.btn:hover {
    background: #fdd867;
    color: #414040;
}

.red {
    color: red;
}

.travel {
    margin-top: 10px;
}

.learn {
    padding-top: 108px;
    padding-bottom: 118px;
}

.section-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}

.skills {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.skill-title {
    font-size: 19px;
}

.skill-text {
    font-size: 15px;
    margin-top: 7px;
}

.skill {
    width: 289px;
    display: block;
    text-align: center;
} 

.icon {
    padding-top: 12px;
    padding-bottom: 12px;
}

.mail {
    background: #ecf3f8;
    padding-top: 104px;
    padding-bottom: 106px;
}

input {
    height: 48px;
    border: 1px solid #bbbbbb;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    border-radius: 0;
    padding: 12px 20px;
    box-sizing: border-box;
    margin: 10px;
}

.btn-form {
    height: 48px;
    border: 0;
    cursor: pointer;
    margin: 10px;
    padding: 12px 20px;
    width: 400px;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 420px;
}

.footer {
    padding: 60px 0;
    background: #164d7a;
    text-align: center;
}

.credits {
    color: #ffffff;
    font-size: 14px; 
}

/* Responsive */

/* 992 - 1200 px */
@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }
}

/* 768 - 992 px */
@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }
    .wrapper {
		flex-direction: column;
		text-align: center;
	}
    p {
        width: 100%;
    }
    .btn {
        width: 100%;
    }
    .btn-form {
        width: 100%;
    }
    .travel {
        display: block;
        width: 400px;
        margin: 50px auto 0;
    }
    .skills {
        flex-direction: column;
    }
    .skill {
        width: auto;
    }
}

/* 576 - 768 px */
@media screen and (max-width: 768px) {
    .container {
        width: 540px;
    }
    .travel {
        width: 100%;
    }
}

/* 0 - 576 px */
@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }
    input {
        width: 100%;
    } 
}

